.background{
    background-image: url(../public/bgmovie.jpg);
    background-size:cover;
    background-position: center; 
}
.filter{
    
   
    background-color: rgba(0, 0, 0, 0.646);
}
.dayHang{
    color: yellow;
    font-weight: bold;
    font-size: 18px;
}
.manHinh{
    background-color: orange;
    border-top-left-radius: 100% ;
    border-top-right-radius: 100%;
    box-shadow: 0 20px 20px 0px;
    width: 85%;
}
.result{
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.result__bot td{
    border: 1px solid rgba(0, 0, 0, 0.209);
    color: rgb(250, 191, 13);
    font-weight: bold;
}
.result__bot{
    --bs-table-bg: none;
    --bs-table-border-color:none;
   
}
.thanhToan{
    color: white !important;
}
.top{
    color: white !important;
    border-bottom: none !important;
    border-top-color: black;
}